*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties


# IDE files
.idea/
*.iml
.gradle/
local.properties

# Build output
build/
captures/
*.apk
*.aab
*.jar
*.aar

# Google services
google-services.json # If downloaded directly and not managed by a build variant system

# Keystore files (if you accidentally add them)
*.jks
*.keystore

# Other
.DS_Store # macOS specific